<div class="wrapper">
  <header>
    <h3>Adding more products</h3>
    <p>The more items you check, the better the price.</p>
  </header>
  <form>
    <input checked id="product5" name="product" type="radio" value="5 products for 80 usd / 16$ for each">
    <label for="product5">You safe 36% on each patent check </label>
    <input id="product4" name="product" type="radio" value="4 products for 72 usd / 18$ for each">
    <label for="product4">You safe 28% on each patent check </label>
    <input id="product3" name="product" type="radio" value="3 products for 60 usd / 20$ for each">
    <label for="product3">You safe 20% on each patent check </label>
    <input id="product2" name="product" type="radio" value="2 products for 44 usd / 22$ for each">
    <label for="product2">You safe 12% on each patent check </label>
    <input id="product1" name="product" type="radio" value="1 product for 24.99 usd">
    <label for="product1">1 product for 24.99 usd</label>

    <!-- <app-button class="primary" #pbtn (click)='handleClick(pbtn)'>Continue</app-button> -->
  </form>
</div>
