.wrapper {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 440px;
  height: 535px;
  margin: 138px 141px 155px 755px;
  padding: 35px 35px 19px 35px;
  border-radius: 0 50px 50px 50px;
  background-color: #fff;

  header {
    margin-bottom: 12px;

    h3 {
      font-size: 18px;
      font-weight: bold;
    }

    p {
      font-size: 16px;
    }
  }

  form {
    display: flex;
    flex-direction: column;
    width: 370px;
    height: 294px;
    border: 1.5px solid #e1e3ee;
    border-radius: 15px;

    input {
      width: 22px;
      height: 22px;
      background: #23c967;

      &:checked {
        background-color: #E1E3EE;
      }

    }
  }
}
