.success-wrapper {
  position: relative;
  display: flex;
  flex-direction: column;
  width: 440px;
  height: 535px;
  margin: auto;
  padding: 35px 35px 19px 35px;
  border-radius: 0 50px 50px 50px;
  background-color: #fff;

  h3 {
    font-size: 18px;
    font-weight: bold;
  }

  .success {
    font-size: 16px;
    font-weight: 400;
    margin-top: 12px;
  }

  .background {
    position: absolute;
    width: 80%;
    height: 80%;
    background: no-repeat center url(/assets/images/icon-success-payment.png);
  }

  app-button {
    position: absolute;
    bottom: 66px;
  }
}
