<div class="wrapper">
  <form action="#" method="post" tabindex="1">
    <h3>Info</h3>
    <label for="email">Enter your email address</label>
    <input class="email" id="email" name="email" placeholder="team@checkforpatent.com" tabindex="2" type="email">
    <div class="hr"></div>

    <h3>Product 1</h3>
    <label for="product">Enter main keyword for the product</label>
    <input class="product" id="product" name="product" placeholder="for example, sylicon wine cup" tabindex="3"
           type="text">
    <div class="hr"></div>

    <label for="url">Enter link to the similar product as a reference</label>
    <input class="url" id="url" name="url" placeholder="https://..." tabindex="4" type="url">
    <div class="hr"></div>

    <div class="add-btn-wrapper">
      <label class='add-products' for="add-btn">Add more products</label>
      <input class="add-btn" id="add-btn" name="button" tabindex="5" type="button">
    </div>
    <p class="discount">We offer discount up to 36% for multiple checks</p>
    <app-button #pbtn (click)='handleClick(pbtn)' class="primary">Submit and Pay 24.99 USD</app-button>
    <p class="secure">Secure payment with Stripe</p>

  </form>
</div>
