<div class="wrapper">
  <div class="content">
    <ng-container *ngIf="step === 'home'">

      <ng-container>
        <app-input></app-input>
      </ng-container>

      <div class="add-btn-wrapper">
        <div class='add-products' (click)="step = 'addProducts'">
          Add more products
        </div>
      </div>
      <p class="discount">We offer discount up to 36% for multiple checks</p>
      <app-button class="primary">Submit and Pay 24.99 USD</app-button>
      <p class="secure">Secure payment with Stripe</p>
    </ng-container>

    <ng-container *ngIf="step === 'addProducts'">
      <app-radio [options]="radioOptions" [formControl]="radioCtrl"></app-radio>
    </ng-container>

  </div>
</div>
